*.cmi
*.cmo
*.cmx
*.cmxs
*.ml.d
*.mli.d
*.o
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/debian/files
/debian/libinjectfalse-tactics-ocaml-dev/
/debian/libinjectfalse-tactics-ocaml.install
/debian/libinjectfalse-tactics-ocaml/
/debian/tmp/
Makefile.coq
ocamlinit-stamp
